:root {
  --primary-color:#1fc5a1;
  
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10;
  padding: 100px;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

.btn {
  flex: 1 1 auto;
  margin: 30px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 20 px;
 }

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.money-img {
  width: 150px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  border: 0;
  font-size: 16px;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.btn:focus, select:focus, input:focus {
  outline: 0;
}

.swap-rate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

@media(max-width:600px){
  .currency input {
    width: 200px;
  }
}